html,
body {
  height: 100%;
  width: 100%;
  display: flex;
}

.blockGrid {
  display: inline-block;
  border-style: solid;
  border-radius: 2.5px;
  border-color: black;
  height: 21px;
  width: 21px;
  margin: 0px;
  justify-content: center;
  align-self: center;
}
#gridContainer {
  margin: 0 auto;
  display: block;
  height: 500px;
  width: 500px;
  align-self: center;
  justify-content: center;
}
